
  <div class="list">
    <input type="text" [(ngModel)]="searchString" placeholder="Search by title">
   <table class="table  table-bordered">
     <thead class="table-dark">
       <tr>
        <th scope="col">S.No</th>
         <th scope="col">title</th>
         <th scope="col">link</th>         
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let story of stories | searchNews: searchString | paginate: pagingConfig; let i = index">
         <td>{{story.id}}</td>
         <td>{{story.title}}</td>
         <td> <a *ngIf="story.url" [href]="story.url" target="_blank">Read more</a></td>         
       </tr>
 
     </tbody>
   </table> 
   <div class="d-flex justify-content-center">
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
   <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
 </div>
